.root {
  width: 450px;
  padding: 0;
}

.header {
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  border-radius: 7px 7px 0 0;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
}

.content {
  padding: 15px;
}
