.root {
  overflow: hidden;
  height: calc(100vh - 64px);
}

.background {
  width: 108%;
  height: 108%;
  background-size: cover;
  filter: blur(8px);
  margin-top: -4%;
  margin-left: -4%;
  padding-top: 4%;
  padding-left: 4%;
}

.container {
  position: relative;
  top: -90vh;
  margin: 0 50px;
  padding: 15px;
}

.installing {
  width: 100%;
  height: 50vh;
  text-align: center;
}
