.componentWrapper {
  //border: 2px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

.componentWrapperSmall {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  margin-bottom: 15px;
}

.dropTarget {
  border: 1px dotted rgba(0, 0, 0, 0.3);
  width: 98%;
  margin: 10px 1%;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s;
  min-height: 80px;
  border-radius: 8px;
}

.dropTargetActive {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.25;
}

.component {
  border: 2px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 10px 15px;
  margin-right: 15px;
  cursor: move;
  transition: all 0.3s;
  background-color: #eeeeee;

  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.8);
  }
}
