.triggerAdd {
  background-color: white;
  width: 175px;
  height: 80px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 5px;

  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  }
}

.trigger {
  background-color: white;
  display: inline-block;
  width: 200px;
  height: 80px;
  padding: 15px 20px;
  margin: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
  transition: 0.5s;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid #e6e6e6;

  &:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  }
}

.triggerTitle {
  font-size: 18px;
  font-weight: bold;
}

.verticalLine {
  height: 75px;
  margin-top: -75px;
  width: 1px;
  background-color: #e6e6e6;
  display: inline-block;
  position: relative;
  top: 50px;
  left: 100px;
  z-index: 999;
  transition: 0.5s;
}
.horizontalLine {
  height: 1px;
  margin-left: -30px;
  width: 30px;
  background-color: #e6e6e6;
  display: inline-block;
  position: relative;
  z-index: 999;
  top: -13px;
  left: 25px;
  transition: 0.5s;
}

.condition {
  position: relative;
  height: 110px;
  width: 110px;
  text-align: center;
  margin: 10px 25px 10px 45px;
  transition: 0.5s;
  padding-top: 30px;
  display: inline-block;

  &:hover:before {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  }
  &:before {
    border: 1px solid #e6e6e6;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: rotateX(45deg) rotateZ(45deg);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
  &:after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "";
    height: calc(
      100% - 22px
    ); /* -22px is 2 * 10px gap on either side - 2px border on either side */
    width: calc(
      100% - 22px
    ); /* -22px is 2 * 10px gap on either side - 2px border on either side */
    transform: rotateX(45deg) rotateZ(45deg);
  }
}

.step {
  background-color: white;
  display: inline-block;
  width: 200px;
  height: 80px;
  padding: 15px 20px;
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
  transition: 0.5s;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid #e6e6e6;
  margin-left: 25px;

  &:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  }
}

// Dark mode
@media (prefers-color-scheme: dark) {
  .trigger,
  .triggerAdd,
  .condition,
  .step {
    background-color: #212121;
  }
}
