.row {
  height: 250px;
  border-bottom: 1px solid #eaeaea;
  padding: 15px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  transition: all 1s;

  &:hover {
    background-color: #fefefe;
    border-bottom: 1px solid #aaa;
  }
}
.title {
  text-align: center;
  color: #666;
  cursor: default;
}

.block {
  width: 250px;
  height: 200px;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #eee;
  display: inline-block;
  margin: 15px;
  transition: all 1s;

  &:hover {
    background-color: #fefefe;
    border: 1px solid #aaa;
  }
}

.blockHeader {
  text-align: center;
  cursor: default;
}

.triggerEditor {
  margin: 25px;
}
