.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: green;
  }
}
