.newTrigger {
  width: 150px;
  height: 75px;
  line-height: 75px;
  border: 1px dotted #485262;
  border-radius: 12px;
  text-align: center;
  transition: all 0.3s;

  cursor: pointer;
  &:hover {
    border: 1px dotted black;
  }
}

.trigger {
  width: 150px;
  height: 75px;
  line-height: 75px;
  border: 1px solid #485262;
  background-color: rgba(72, 82, 98, 0.05);
  border-radius: 12px;
  text-align: center;
  transition: all 0.3s;

  cursor: pointer;
  &:hover {
    border: 1px solid black;
    background-color: rgba(72, 82, 98, 0.1);
  }
}
