.container {
  transition: all 0.3s;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  height: 100%;
  margin-bottom: 8px;
}

.containerView {
  display: flex;
  flex-direction: row;
  cursor: alias !important;
}

.containerEdit {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.toChange {
  background-color: #fafafa;
  border-left: 1px solid #a5a5a5;
  padding: 8px 8px 8px 15px;
}

// Dark mode
@media (prefers-color-scheme: dark) {
  .toChange {
    background-color: #555;
    border-left: 1px solid #efefef;
  }

  .container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  }
}
