.root {
  background-color: #fefefe;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: default;
  transition: 0.3s;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  z-index: 15;
  position: relative;
}

.hoverable {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
      0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
      0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
  }
}

.image {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  transition: background 0.3s;

  &:hover {
    background-size: 102%;
  }
}
