.root {
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}
.appItem {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.icon {
  width: 28px;
  height: 28px;
  transition: 0.3s;
}

// Dark mode
@media (prefers-color-scheme: dark) {
  .title {
    color: #efefef;
  }

  .icon {
    color: #efefef;
    &:hover {
      color: #fff;
    }
  }
}
