.picturePreview {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-size: cover;
  overflow: hidden;
  background-size: cover;
  border-radius: 15px;
  background-size: cover;
  transition: all 1s;
  text-align: center;
  box-sizing: border-box;
  font-size: 2px;
  color: white;
  padding-top: 6px;
  font-size: 12px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  z-index: 1;

  &::after {
    position: relative;
    display: block;
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: orange;
    z-index: -1;
    top: -5px;
    left: -5px;
    filter: blur(10px);
  }
}
