.root {
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 25;
  height: 100%;
}

.header {
  text-align: center;
  padding: 13px;
  cursor: default;
  color: white;
}

.listNav {
  max-height: calc(100%);
  overflow: auto;
  margin-bottom: 80px;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
