.root {
  width: calc(100vw - 64px);
  background-color: red;
  position: absolute;
  top: 0px;
  left: 64px;
  transition: all 0.1s;

  &.withApp {
    width: calc(100vw - 304px);
    left: 304px;
  }

  &.isMobile {
    left: 0px;
    width: 100vw;
  }
}

.appbar {
  transition: all 0.3s;
  display: flex;
  min-height: 64px;
  height: 25vh;
  min-height: 350px;
  position: relative;
  z-index: 3;
}
