.appRightWrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.appbar {
  width: 64px;
  height: 100vh;
  z-index: 500;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  & .item {
    width: 64px;
    max-width: 100%;
    text-align: center;
    display: flex;
    transition: all 0.15s;
  }
}

.appSpace {
  position: absolute;
  width: calc(100vw - 64px);
  height: 100vh;
  left: 64px;
  top: 64px;
  flex-grow: 1;
}

.shadow {
  bottom: 0px;
  z-index: 505;
  height: 100vh;
  left: 54px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition-duration: 0.22s;
  transition-property: left, opacity, width;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  width: 10px;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.2) 0px,
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.1) 1px,
    rgba(0, 0, 0, 0) 100%
  );
}

.active {
  background-color: rgb(244, 245, 247);
  z-index: 1001;
  position: relative;
}

.appList {
  transition: all 0.3s;
  padding: 15px;
  margin-left: 40px;
  margin-top: -20px;
  width: 30vw;
  min-width: 400px;
  min-height: 350px;
  height: 35vh;
}

.appListApp {
  text-align: center;
  cursor: pointer;
}
