html,
body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.text-center {
  text-align: center;
}

.bg {
  background-color: #1a46a6;
  color: white;
}

.no-link,
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
  transition: all 0.1s;
  &:hover {
    color: black;
  }
}

.paper {
  padding: 10px;
}

.cursor {
  cursor: default;
}

.input-container {
  height: 80px;
  position: relative;
}
.input-container-sub {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-0, -50%);
}

.view-container {
  height: 30px;
  position: relative;
}
.view-container-sub {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-0, -50%);
}
